$green: #4875b4;
$blue: #94C2ED;
$orange: #fe7a15;
$gray: #000;
.container-chat {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.people-list {
    width: 30%;
    float: left;
    border-right: 1px solid #eee;
    .search {
        padding: 20px;
        border-bottom: 1px solid #eee;
    }
    input {
        border-radius: 50px;
        border: none;
        padding: 14px 20px;
        color: #222;
        background: #fff;
        width: 100%;
        font-size: 14px;
        border: 1px solid #eee;
    }
    .fa-search {
        position: relative;
        right: 22px;
        float: right;
        top: -32px;
    }
    ul {
        padding: 0;
        li {
            padding: 10px 20px;
            list-style: none;
            border-bottom: 1px solid #eee;
        }
    }
    img {
        float: left;
        border-radius: 50%;
        width: 60px;
        border: 2px solid #eee;
    }
    .about {
        float: left;
        margin-top: 8px;
    }
    .about {
        padding-left: 8px;
    }
    .name {
        font-weight: 500;
        font-size: 14px;
    }
    .status {
        color: $gray;
        font-size: 11px;
    }
}

.chat {
    width: 70%;
    float: left;
    background: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    padding: 0;
    .chat-header {
        padding: 15px 20px;
        border-bottom: 1px solid #eee;
        img {
            float: left;
            border-radius: 50%;
            width: 60px;
            border: 2px solid #eee;
        }
        .chat-about {
            float: left;
            padding-left: 10px;
            margin-top: 6px;
        }
        .chat-with {
            font-weight: bold;
            font-size: 16px;
        }
        .chat-num-messages {
            color: $gray;
        }
        .fa-star {
            float: right;
            color: #D8DADF;
            font-size: 20px;
            margin-top: 12px;
        }
    }
    .chat-history {
        padding: 30px 30px 30px;
        border-bottom: 1px solid #eee;
        overflow-y: scroll;
        height: 567px;
        ul {
            li {
                list-style: none;
            }
        }
        .message-data {
            margin-bottom: 15px;
        }
        .message-data-time {
            color: lighten($gray, 8%);
            padding-left: 6px;
        }
        .message {
            color: white;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;
            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $green;
                border-width: 10px;
                margin-left: -10px;
            }
        }
        .my-message {
            background: $green;
        }
        .other-message {
            background: $blue;
            &:after {
                border-bottom-color: $blue;
                left: 93%;
            }
        }
    }
    .chat-message {
        padding: 30px;
        textarea {
            width: 100%;
            border: none;
            padding: 10px 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none;
            background: #eee;
            color: #111;
        }
        .fa-file-o,
        .fa-file-image-o {
            font-size: 16px;
            color: gray;
            cursor: pointer;
        }
        button {
            float: right;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: 500;
            background: $blue;
            padding: 10px 20px;
            border-radius: 5px;
            &:hover {
                color: darken($blue, 7%);
            }
        }
    }
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: $green;
}

.offline {
    color: $orange;
}

.me {
    color: $blue;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}