// Social Colors
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #4875b4;
$google-plus: #d34836;
$flickr: #ff0084;
$tumblr: #32506d;
$xing: #026466;
$github: #4183c4;
$html5: #e34f26;
$openid: #f78c40;
$stack-overflow: #fe7a15;
$youtube: #b00;
$css3: #0170ba;
$dribbble: #ea4c89;
$google-plus: #bb4b39;
$instagram: #517fa4;
$pinterest: #cb2027;
$vk: #45668e;
$yahoo: #400191;
$behance: #1769ff;
$dropbox: #007ee5;
$reddit: #ff4500;
$spotify: #7ab800;
$vine: #00bf8f;
$foursquare: #1073af;
$vimeo: #aad450;
// Devin Color
$wrapper-bg: #eee;
$devin-dark: #333333;
$devin-dark-more: #111;
$sidebar-devin:#fff;
$sidebar-devin-text:#fff;
$text-devin:#222;
$treeview-background: rgba(0, 0, 0, 0.5);

/*
 * Skin: Dark
 * ----------
 */

.skin-dark {
    .main-header {
        .navbar {
            background-color: $sidebar-devin;
            .nav {
                >li>a {
                    color: $text-devin;
                    &:hover,
                    &:active,
                    &:focus {
                        background: rgba(0, 0, 0, 0.1);
                        color: #f6f6f6;
                    }
                }
                .open>a {
                    background: rgba(0, 0, 0, 0.1);
                    color: #f6f6f6;
                    &:hover,
                    &:focus {
                        background: rgba(0, 0, 0, 0.1);
                        color: #f6f6f6;
                    }
                }
                >.active>a {
                    background: rgba(0, 0, 0, 0.1);
                    color: #f6f6f6;
                }
            }
            .sidebar-toggle {
                color: #ccc;
                &:hover {
                    color: #222;
                    background-color: $sidebar-devin;
                }
            }
        }
        .logo {
            background-color: $devin-dark;
            color: $sidebar-devin-text;
            box-shadow: -5px 4px 20px -4px rgba(0, 0, 0, 0.5);
            &:hover {}
        }
        li.user-header {
            background-color: $sidebar-devin;
        }
    }
    // Breadcrumb background color setting
    .content-header {
        background: $sidebar-devin;
        box-shadow: none;
        border-bottom: 1px solid #eee;
        .breadcrumb {
            li {
                a {
                    color: $text-devin;
                }
            }
        }
    }
    //Main side bar background color setting
    .main-sidebar,
    .left-side {
        background: $devin-dark!important;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }
    .content-wrapper {
        background: $wrapper-bg;
    }
    .user-panel>.info {
        color: #fff;
        >a {
            color: #fff;
        }
    }
    .user-panel .bg-user {
        opacity: 0.1;
    }
    .sidebar-menu>li {
        &.header {
            color: $sidebar-devin-text;
            background: $treeview-background;
        }
        >a {
            border-left: 3px solid transparent;
        }
        &:hover>a,
        &.active>a {
            color: $sidebar-devin-text;
            background: $treeview-background;
            border-left-color: $sidebar-devin;
        }
        >.treeview-menu {
            margin: 0;
            background: $treeview-background;
        }
    }

    .sidebar a {
        color: $sidebar-devin-text;
        &:hover {
            text-decoration: none;
        }
    }
    .treeview-menu>li {
        >a {
            color: $sidebar-devin-text;
        }
        &.active>a,
        >a:hover {
            color: #ffffff;
        }
    }
    .sidebar-form {
        border-radius: 3px;
        border: 1px solid #374850;
        margin: 10px 10px;
        input[type="text"],
        .btn {
            box-shadow: none;
            background-color: #374850;
            border: 1px solid transparent;
            height: 35px;
        }
        input[type="text"] {
            color: #666;
            border-top-left-radius: 2px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 2px;
            &:focus {
                background-color: #fff;
                color: #666;
                +.input-group-btn .btn {
                    background-color: #fff;
                    color: #666;
                    border-left-color: #fff;
                }
            }
        }
        .btn {
            color: #999;
            border-top-left-radius: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 0;
        }
    }
    &.layout-top-nav .main-header>.logo {
        background-color: $sidebar-devin;
        color: $text-devin;
        border-bottom: 0 solid transparent;
        &:hover {
            background-color: #3b8ab8;
        }
    }
        .main-footer{
        color: #333;
        a{
           color: #333; 
        }
    }
}

@media (max-width: 767px) {
    .skin-devin .main-header .navbar .dropdown-menu li {
        &.divider {
            background-color: rgba(255, 255, 255, 0.1);
        }
        a {
            color: #fff;
            &:hover {
                background: $sidebar-devin;
            }
        }
    }
}

    // sidebar colapse
.skin-dark.sidebar-mini.sidebar-collapse .sidebar-menu {
     
        li:hover {
            a {
                background: $devin-dark-more;
                color: $sidebar-devin-text;
            }
        }
        .treeview {
            .treeview-menu {
                background: $devin-dark-more;
                border: 1px solid $devin-dark-more;
                li {
                    
                    a {
                        color: #fff!important;
                    }
                }
            }
        }
    }