@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400i,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
// Social Colors
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #4875b4;
$google-plus: #d34836;
$flickr: #ff0084;
$tumblr: #32506d;
$xing: #026466;
$github: #4183c4;
$html5: #e34f26;
$openid: #f78c40;
$stack-overflow: #fe7a15;
$youtube: #b00;
$css3: #0170ba;
$dribbble: #ea4c89;
$google-plus: #bb4b39;
$instagram: #517fa4;
$pinterest: #cb2027;
$vk: #45668e;
$yahoo: #400191;
$behance: #1769ff;
$dropbox: #007ee5;
$reddit: #ff4500;
$spotify: #7ab800;
$vine: #00bf8f;
$foursquare: #1073af;
$vimeo: #aad450;
// Devin Color
$wrapper-bg: #111;
$devin-dark: #111;
$devin-dark-more: #111;
$sidebar-devin:#fff;
$sidebar-devin-text:#fff;
$text-devin:#222;
$treeview-background: rgba(0,
0,
0,
0.5);
@import "custom-variables";
@import "base";
@import "skin-black";
@import "skin-dark";
@import "skin-gradient";
@import "skin-light";
@import "header";
@import "sidebar";
@import "form";
@import "box";
@import "timeline";
@import "callout";
@import "alert";
@import "product";
@import "table";
@import "miscellaneous";
@import "custom";
@import "palette";
@import "mail";
@import "dashboard";
@import "dashboard-second";
@import "chat";
@import "calendar";
@import "todo";
@import "blog";
@import "shop";
@import "profile";
@import "404";
@import "timeline-devin";